body
{
margin: 0;
padding: 0;
overflow-x: hidden;
box-sizing: border-box;
background-color: lightgray;
}

#header
{
width: 100%;
height: auto;
padding: 10px;
background-color: white;   
display: flex;
flex-direction: row; 
}
.call-us
{
width: 30%;
height: auto;
padding: 15px;
font-size: 25px;
}
.search-box
{
width: 50%;
height: auto;
padding: 15px;
}
.search-box input 
{
width: 90%;
height: auto;
padding: 8px;    
}
.account-app
{
width: 20%;
height: auto;
padding: 15px;
}
.account-app button 
{
width: 50%;
height: auto;
padding: 8px;    
background-color: black;
color: white;
border: none;
}
#navbar
{
width: 100%;
height: auto;
padding: 5px;
background-color: black;    
display: flex;
flex-direction: row;
}
.logo
{
width: 30%;
height: auto;
padding: 5px;
color: white;
}
.navbar
{
width: 70%;
height: auto;
padding: 5px;
}
.navbar ul li 
{
display: inline-block;
padding: 0px 30px;
font-size: 20px;    
}
.navbar a 
{
text-decoration: none;
color: white;    
}
.toggler
{
display: none;    
}
#banner-app
{
width: 90%;
height: auto;
margin: auto;
margin-top: 2%;
}
#banner-app img 
{
width: 100%;
height: 400px;

}
#content-app
{
width: 90%;
height: auto;
margin: auto;
margin-top: 5%;
padding: 15px;
}
#content-app h1 
{
font-size: 40px !important;
text-align: center;    
}
#content-app hr 
{
width: 30%;
height: auto;
border: dotted 4px black;    
}
.prod-app
{
width: 100%;
height: auto; 
padding: 10px;
display: grid;
grid-template-columns: auto auto auto auto;   
}

.prod 
{
width: 90%;
height: auto;
padding: 5px;
margin-top: 3%;
background-color: white;    
}
.prod img 
{
width: 70%;
height: 200px;    
}
/* for mobile max-width media query in css3 */
@media only screen and (max-width:580px)
{
body
{
margin: 0;
padding: 0;
width: 100%;
height: auto;
overflow-x: hidden;
box-sizing: border-box;
background: url('img/back\ g.jpg') no-repeat;
/* background-size: cover !important; */
background-size: cover !important;
background-position: center;
}

#header
{
width: 100%;
height: auto;
padding: 0px;
background-color: white;   
/* display: grid;
grid-template-columns: auto auto;  */
display: block;
}
.call-us
{
width: 100%;
height: auto;
padding: 5px;
font-size: 25px;
text-align: center;
}
.search-box
{
width: 80%;
height: auto;
margin: auto;
padding: 5px;
}
.search-box input 
{
width: 100%;
height: auto;
margin: auto;
padding: 8px;    
}
.account-app
{
width: 100%;
height: auto;
padding: 5px;
}
.account-app button 
{
width: 40%;
height: auto;
margin-left: 30%;
padding: 8px;    
background-color: black;
color: white;
border: none;
}
#navbar
{
width: 100%;
height: auto;
padding: 5px;
background-color: black;    
display: grid;
grid-template-columns: auto auto;
}
.logo
{
width: 100%;
height: auto;
padding: 5px;
color: white;
}
.navbar
{
width: 100%;
height: auto;
padding: 5px;
}
.navbar ul li 
{
display: inline-block;
padding: 0px 30px;
font-size: 20px;    
}
.navbar a 
{
text-decoration: none;
color: white;    
}
.collapse
{
display: none !important;    
}
.toggler
{
display: block;
width: 30%;
height: 50px;
margin-top: 5%;
margin-left: 55%;
background-color: black;
box-shadow: 1px 1px 1px white;    
}
.fa-th
{
color: white !important;    
font-size: 30px !important;
}
.toggler:hover .collapse ul li
{
display: block !important;    
}    
#banner-app
{
width: 90%;
height: auto;
margin: auto;
margin-top: 2%;
}
#banner-app img 
{
width: 100%;
height: 200px;
}

#content-app h1 
{
font-size: 25px !important;
text-align: center;    
color: white;
}
#content-app hr 
{
width: 30%;
height: auto;
border: dotted 4px white;    
}
.prod-app
{
width: 100%;
height: auto; 
padding: 10px;
display: grid;
grid-template-columns: auto auto;   
}

.prod 
{
width: 90%;
height: auto;
padding: 5px;
margin-top: 3%;
background-color: white;    
}
.prod img 
{
width: 70%;
height: 200px;    
}
}